@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #00639A;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #00639A;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#root {
  font-family: "Manrope";
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  place-content: center;
  place-items: center;
  margin: 0;
  color: white;
  background-color: #00639A;
  overflow: hidden;
}


.wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.letter_container {
  font-size: 15vw;
  margin-left: -0.5vw;
  line-height: 80%;
}

.pixeled {
  font-family: PixeloidSans;
  letter-spacing: -1vw;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 50;
  padding: 1rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background: white;
  width: fit-content;
  border-radius: 10rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

a {
  display: inline-block;
  position: relative;
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
  border-radius: 2rem;
  color: black;
  z-index: 1;
}

.shadow {
  position: absolute;
  inset: 0;
  background-color: black;
  border-radius: 2rem;
  z-index: -1;
  color: white;
}


